<h1>Posts</h1>
<% @posts.each do |x| %>
	<p>Title: <%= x.title %>
	</p>
	<p>Description: <%= x.description %>
	</p>
	<p>JSON Text: <%= x.jsonTxt %>
	</p>
	<p>JSON File: <%= x.json %>
	</p>
	<hr>
<% end %>
